<footer class="footer sm:footer-horizontal footer-center text-base-content p-4 shadow">
    <aside>
        <p>Copyright © <%- new Date().getFullYear() %> - All right reserved by ByteNote.</p>
    </aside>
</footer>