<div class="d-flex flex-column min-vh-100" style="background-color: #F4F4F4;">

    <!-- Header -->
    <div class="d-flex align-items-center justify-content-between px-4 py-3 border-bottom shadow-sm" style="background-color: #654b40;">
    
        <!-- Navbar -->
        <ul class="nav nav-tabs border-0 gap-2">
            <form action="/salvaNota" method="POST" class="m-0">
                <button type="submit" class="btn fw-semibold" style="background-color: #15960e; color: white;">
                    Salva
                </button>
            </form>
            <form action="/chiudiNota" method="POST" class="m-0">
                <button type="submit" class="btn fw-semibold" style="background-color: #FF4A00; color: white;">
                    Chidui 
                </button>
            </form>
        </ul>

        <!-- Bottoni -->
        <div class="d-flex gap-2">
            <form action="/logout" method="POST" class="m-0">
                <button type="submit" class="btn fw-semibold" style="background-color: #FF4A00; color: white;">
                    ➜]
                </button>
            </form>
        </div>

    </div>

    <div class="d-flex align-items-center justify-content-center">
        <div class="card shadow border-0 mt-4" style="width: 100%; max-width: 420px;">
            
        </div>
    </div>

</div>